DZIEN_4/xml_schema/kraj.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="kraj">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "populacja" type="xs:integer"/>
                <xs:element name = "obszar" type="xs:integer"/>
                <xs:element name = "stolica" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="nazwa" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
